PORT=3001
DB_URI =mongodb+srv://tcompraperu:2YFaNqTymGcKH5ZF@clustertest.oiyhs.mongodb.net/BDTestTCompra?retryWrites=true&w=majority&appName=ClusterTest
JWT_SECRET = X8d7!qLz1#P@k&2^R9nV4tG$W6oB+uM7J%Yv3xKz8F
JWT_REFRESH_SECRET=J2x7^d9!Lz@P#M&Vk5Q8G$W6oBnT+u3Y%R
//TOKEN_RENIEC=apis-token-4396.oK9eDP-jOyzv4BOScpXEXwFNzfBW4qS4
TOKEN_RENIEC=apis-token-13894.iyj9FN6jCly2mIF7DrP2wKI1FbgY2O6G

CLOUDINARY_CLOUD_NAME=dxz3wp4ku
CLOUDINARY_API_KEY=183668396176154
CLOUDINARY_API_SECRET=qX6ND4Q5QHRk6vxYB6KK8v3HeKk

API_PRODUCTS=http://3.16.69.110:3002
API_SERVICES=http://18.219.37.119:3004
API_LIQUIDATIONS=http://18.220.126.92:3003
URL_FRONTEND=http://localhost:3000

//CHAT BOT 
aaeATHK4nIkfyE2nrcfUWGdyb3FYNluH7EybjvPnRrd5SZmQGhPA
